(
  name: "ssd1306",

  requires: [],

  parameters: [
    (
      name: "component",
      param_type: I2cComponentRef,
      required: true,
    ),
    (
      name: "address",
      param_type: Integer,
      required: false,
    ),
  ],

  // Updated to use the Struct directly as it is now in the prelude
  setup_template: "let mut {{ name }} = SSD1306Device::new({{ params.component }});",

  methods: {
    "init": (
      template: "{{ target }}.init();",
    ),
    "clear": (
      template: "{{ target }}.clear();",
    ),
    "flush": (
      template: "{{ target }}.flush();",
    ),
    "print": (
      // Arguments: x, y, text
      template: "{{ target }}.print({{ args }});",
    ),
  },
)

