(
    name: "log",

    requires: [],

    parameters: [],

    // Note: In the current dynamic template, logger is initialized manually
    setup_template: "esp_println::logger::init_logger_from_env();",

    methods: {
        "info": (
            template: "log.info({{ args | json_encode }});",
        ),
        "print_hex": (
            template: "log.info({{ args | json_encode }});",
        ),
    },
)