(
    name: "queue",
    requires: [],
    parameters: [],
    setup_template: "", // Static, no runtime init needed
    methods: {
        "send": (
            // Generates: GLOBAL_QUEUE.send(123).await;
            template: "GLOBAL_QUEUE.send({{ args }}).await;",
        ),
        "receive": (
            // Generates: GLOBAL_QUEUE.receive().await
            // Note: This returns a value, so it should be used in an assignment
            template: "GLOBAL_QUEUE.receive().await",
        ),
        "try_send": (
             // Non-blocking send
             template: "let _ = GLOBAL_QUEUE.try_send({{ args }});",
        )
    },
)

