(
  name: "uart",
  requires: [],
  parameters: [
    (
      name: "uart",
      param_type: UartRef,
      required: true,
    ),
    (
      name: "baud",
      param_type: Integer,
      required: true,
    ),
  ],

  setup_template: "let mut {{ name }} = Uart::new({{ params.uart.uart }}, {{ params.uart.tx }}, {{ params.uart.rx }}, {{ params.baud }});",
  methods: {
    "write": (
      template: "{{ target }}.write({{ args }});",
    ),
    "available": (
      template: "{{ target }}.available()",
    ),
    "read_byte": (
      template: "{{ target }}.read_byte()",
    ),
    // --- NEW METHODS ---
    "buffer_until_newline": (
      template: "{{ target }}.buffer_until_newline()",
    ),
    "get_buffered_string": (
      template: "{{ target }}.get_buffered_string()",
    ),
    "clear_buffer": (
      template: "{{ target }}.clear_buffer();",
    ),
  },
)

